.card {
  max-width: 21rem;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 4rem;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  padding: 3rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-0.5rem);
  }

  .like {
    left: 0.3rem;
    top: 0.9rem;
  }

  .product {
    left: 0;
    top: 0
  }

  .title {
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 1.4rem;
  }

  .priceTitle {
    font-weight: 500;
    color: #BDBDBD;
    font-size: 1.1rem;

  }

  .price {
    font-weight: 700;
    font-size: 1.1rem;
  }

  .favorite {
    position: absolute;
    cursor: pointer;

  }
}

.cardOverlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
}

.cardModal{
  position: fixed;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-top: 5rem;
  width: 60%;
  height: 50rem;
  background-color: #ffe7ef;
  border-radius: 1.8rem;
  .removeButton {
    position: fixed;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    margin-left: 23%;
    top:8rem;

    &:hover {
      opacity: 0.5;
    }
    z-index: 10;
  }

  .imgModal{
    position: fixed;
    width: 29%;
    left: 23%;
    top:8rem;
  }
  .titleModal{
    position: fixed;
    font-size: 2rem;
    width: 18rem;
    left: 56%;
    top:15rem;
    text-align: left;
    font-weight: bold;
  }
  .priceModal{
    position: fixed;
    font-size: 1.5rem;
    width: 20rem;
    left: 57%;
    top:45rem;
    text-align: left;
  }
}

